/* Estilos para o body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

/* Estilos para a mensagem */
.container h1 {
    font-size: 3em;
    color: #333;
}
